@model BankAccountViewModel
<link rel="stylesheet" href="~/css/dataTables.bootstrap4.css">
<link rel="stylesheet" href="~/css/app-light.css" id="lightTheme">
<link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme">

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row align-items-center my-4">
                <div class="col">
                    <h2 class="h3 mb-0 page-title">Hesaplarım</h2>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addRequestModal">
                        <span class="fe fe-plus mr-2"></span>Ekle
                    </button>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-md-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <table class="table datatables" id="dataTable-1">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Banka Adı</th>
                                        <th>Hesap Adı</th>
                                        <th>Para Birimi</th>
                                        <th>IBAN</th>
                                        <th>Bakiye</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var account in Model.BankAccountList.Data)
                                    {
                                        <tr>
                                            <td>@account.Id</td>
                                            <td>@Model.BankList?.Data?.Where(i => i.Id == account.BankId).FirstOrDefault()?.Name</td>
                                            <td>@account.Name</td>
                                            <td>@Model.CurrencyList?.Data?.Where(c=> c.Id == account.CurrencyId).FirstOrDefault()?.Code</td>
                                            <td>@account.AccountNo</td>
                                            <td>@account.Balance</td>
                                            <td>
                                                <a class="btn btn-outline-light" style="color:lawngreen" data-toggle="modal" data-target="#updateModal" data-id="@account.Id"><i class="fe fe-edit-2"></i></a>
                                                <a class="btn btn-outline-light" style="color:deepskyblue" data-toggle="modal" data-target="#accountHistory" data-id="@account.Id"><i class="fe fe-repeat"></i></a>
                                                <a class="btn btn-outline-light" style="color:orangered" data-toggle="modal" data-target="#deleteModal" data-id="@account.Id"><i class="fe fe-trash"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Ekleme Modal -->
<div class="modal fade" id="addRequestModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="card my-4 modal-content">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong>Hesap Ekle</strong>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="@Url.Action("Add", "BankAccount")" method="post">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-10">
                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>Banka*</label>
                                        <select name="BankAccount.BankId" class="form-control" required>
                                            <option value="">Banka Seçin...</option>
                                            @foreach (var bank in Model.BankList.Data)
                                            {
                                                <option value="@bank.Id">@bank.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-7">
                                        <label>Hesap Adı*</label>
                                        <input asp-for="BankAccount.Name" class="form-control" required />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>IBAN*</label>
                                        <input asp-for="BankAccount.AccountNo" class="form-control" placeholder="TR12345678912345" required />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Bakiye*</label>
                                        <input asp-for="BankAccount.Balance" class="form-control input-money" required />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="paraBirimi">Para Birimi*</label>

                                        <select id="paraBirimi" name="BankAccount.CurrencyId" class="form-control" required>
                                            <option value="">Seçin...</option>
                                            @foreach (var currency in Model.CurrencyList.Data)
                                            {
                                                <option value="@currency.Id">@currency.Code</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                                <div class="help-text text-muted">(*) Zorunlu alan</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">
                        <span class="fe fe-send mr-2"></span>Kaydet
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Güncelleme Modalı -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true" data-keyboard="false">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content card my-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong>Hesap Güncelle</strong>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>
            <form action="@Url.Action("Update", "BankAccount")" method="post">
                <div class="card-body">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-12 col-xl-10">

                                <input type="hidden" name="BankAccount.Id" />

                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>Banka*</label>
                                        <select name="BankAccount.BankId" class="form-control" required>
                                            <option value="">Banka Seçin...</option>
                                            @foreach (var bank in Model.BankList.Data)
                                            {
                                                <option value="@bank.Id">@bank.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-md-7">
                                        <label>Hesap Adı*</label>
                                        <input name="BankAccount.Name" class="form-control" required />
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-5">
                                        <label>IBAN*</label>
                                        <input name="BankAccount.AccountNo" class="form-control" required />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Bakiye*</label>
                                        <input name="BankAccount.Balance" class="form-control input-money" required />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Para Birimi*</label>
                                        <select name="BankAccount.CurrencyId" class="form-control" required>
                                            <option value="">Seçin...</option>
                                            @foreach (var currency in Model.CurrencyList.Data)
                                            {
                                                <option value="@currency.Id">@currency.Code</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="help-text text-muted">(*) Zorunlu alan</div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success">Güncelle</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Silme Modalı -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteLabel">Banka Hesabını Sil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">Sistemde kayıtlı banka hesabınızı silmek üzeresiniz. Silmek istediğinizden emin misiniz?</div>

            <form method="post" asp-controller="BankAccount" asp-action="Delete">
                <input type="hidden" id="deleteId" name="id" value="" />
                <div class="modal-footer">
                    <button type="button" class="btn mb-2 btn-light" data-dismiss="modal">Kapat</button>
                    <button type="submit" class="btn mb-2 btn-outline-danger">Hesabımı Sil</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Hesap Hareketleri Modalı -->
<div class="modal fade bd-example-modal-xl" id="accountHistory" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="card my-4 modal-content">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong>Hesap Hareketleri</strong>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body" data-simplebar="init" style="height:750px; overflow-y: auto; overflow-x: hidden;">
                <h6 class="text-uppercase text-muted mb-4">Bugün</h6>
                <div class="pb-3 timeline-item item-primary">
                    <div class="pl-5">
                        <div class="mb-1"><strong>Emre Demir</strong><span class="text-muted small mx-2">adlı kişiye 100 TL para transferi yapıldı</span><strong>PARA TRANSFERİ</strong></div>
                        <p class="small text-muted">
                            Tarih <span class="badge badge-light">22 Nisan 2025 17:40:19</span>
                        </p>
                    </div>
                </div>
                <div class="pb-3 timeline-item item-warning">
                    <div class="pl-5">
                        <div class="mb-1"><strong>Sedef Polat</strong><span class="text-muted small mx-2">adlı kişiye 100 TL para transferi yapıldı</span><strong>PARA TRANSFERİ</strong></div>
                        <p class="small text-muted">
                            Tarih <span class="badge badge-light">22 Nisan 2025 17:40:19</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

    // Silme modalına id gönder
    $(document).ready(function () {
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var accountId = button.data('id');
            var modal = $(this);
            var hiddenInput = modal.find('#deleteId');
            hiddenInput.val(accountId);
        });
    });



    // Güncelleme modalını doldur
    var bankAccounts = @Html.Raw(Json.Serialize(Model.BankAccountList.Data));
        $(document).on('click', '[data-target="#updateModal"]', function () {
        var id = $(this).data('id');
        var selected = bankAccounts.find(x => x.id === id);

        if (!selected) {
            console.error("Hesap bulunamadı");
            return;
        }
        $('#updateModal input[name="BankAccount.Name"]').val(selected.name);
        $('#updateModal input[name="BankAccount.AccountNo"]').val(selected.accountNo);
        $('#updateModal input[name="BankAccount.Balance"]').val(selected.balance);
        $('#updateModal select[name="BankAccount.BankId"]').val(selected.bankId);
        $('#updateModal select[name="BankAccount.CurrencyId"]').val(selected.currencyId);
        $('#updateModal input[name="BankAccount.Id"]').val(selected.id);
    });
</script>
